<table class="pull-right">
    <tr>
        <td>
            <label class="fa fa-cart-plus fa-2x" style="color:white"></label>
        </td>
        <td>
            <label id="CardCount" style="background-color:gray;border:solid;border-radius:20px;color:white;padding:6px">0</label>
        </td>
    </tr>
</table>
