
<html>
<head>

    <style>
        #toprow td {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>

</head>
    <body>

        <div class="col-lg-12" style="background-color:dodgerblue">
            <img src="~/Images/online-shopping-center_header.jpg" style="width:100%" />
            <h2 style="background-color:dodgerblue;text-align:center;color:white">Products we have!</h2>
            <table style="border-color:dodgerblue;width:100%;" cellpadding="20" cellspacing="20">
                <tr id="toprow" style="text-align:center ;background-color:dodgerblue;color:white">
                    <td>
                        <h3 style="width:100%;  border: 3px solid white;border-top-right-radius:20px;border-top-left-radius:20px;border-bottom:none;margin-bottom:0px;padding:10px;border-color:white"> Sports </h3>
                        <img src="~/Images/s1.jpg" style="width:100%" />
                    </td>
                </tr>
                <tr id="toprow" style="text-align:center ;background-color:dodgerblue;color:white">
                    <td>
                        <h3 style="width:100%;  border: 3px solid white;border-top-right-radius:20px;border-top-left-radius:20px;border-bottom:none;margin-bottom:0px;padding:10px;border-color:white"> Clothes </h3>
                        <img src="~/Images/c1.jpg" style="width:100%" />
                    </td>
                </tr>
                <tr id="toprow" style="text-align:center ;background-color:dodgerblue;color:white">
                    <td>
                        <h3 style="width:100%;  border: 3px solid white;border-top-right-radius:20px;border-top-left-radius:20px;border-bottom:none;margin-bottom:0px;padding:10px;border-color:white"> jewellery </h3>
                        <img src="~/Images/j1.jpg" style="width:100%" />
                    </td>
                </tr>
                <tr id="toprow" style="text-align:center ;background-color:dodgerblue;color:white">
                    <td>
                        <h3 style="width:100%;  border: 3px solid white;border-top-right-radius:20px;border-top-left-radius:20px;border-bottom:none;margin-bottom:0px;padding:10px;border-color:white"> Foods </h3>
                        <img src="~/Images/f2.jpg" style="width:100%" />
                    </td>
                </tr>

            </table>
        </div>
        <footer>
                 @Html.Partial("Footer")
        </footer>
    </body>
</html>


